{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">

<head>
    {% block extrahead %}
    {% endblock %}
    <meta charset="UTF-8">
    <title>{% block title %} Document {% endblock %}</title>
</head>

<body>
    {% block header %}
    {% include 'base/header.html' %}
    {% endblock %}

    {% block content %}
    <h5>Este es el contenido del archivo base</h5>
    {% endblock %}

    {% block footer %}
    <h5>Soy el footer del base</h5>
    {% endblock %}

    {% block extrajs %}
    {% endblock %}
</body>

</html>