{% extends 'base/base.html' %} {% block content %}
<br>
<h1>Listado de mascotas</h1>
<table class="table table-hover">
        <thead>
                <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Sexo</th>
                        <th>Edad</th>
                        <th>Fecha de rescate</th>
                        <th>Adoptante</th>
                        <th>Acciones</th>
                </tr>
        </thead>
        <tbody>
                {% if object_list %} {% for mascota in object_list %}
                <tr>
                        <td>{{mascota.id}}</td>
                        <td>{{mascota.nombre}}</td>
                        <td>{{mascota.sexo}}</td>
                        <td>{{mascota.edad_aproximada}}</td>
                        <td>{{mascota.fecha_rescate}}</td>
                        <td>{{mascota.persona.nombre}} {{mascota.persona.apellidos}}</td>
                        <td>
                                <a href="{% url 'mascota_editar2' mascota.id %}" class="btn btn-primary">Editar</a>
                                <a href="{% url 'mascota_eliminar2' mascota.id %}" class="btn btn-danger">Eliminar</a>
                        </td>
                </tr>
                {% endfor %} {% else %}
                <h1>No hay registros de mascotas</h1>

                {% endif %}
        </tbody>
</table>

<nav aria-label="Page navigation example" style="display: flex; justify-content: center;">
        <ul class="pagination">
                <li class="page-item">
                        {% if page_obj.has_previous %}
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous &laquo;</a>
                        {% endif %}
                </li>
                <li class="page-item">
                        {% if page_obj.has_next %}
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo; Next</a>
                        {% endif %}
                </li>
        </ul>
</nav>

<div class="pagination" style="display: flex; justify-content: center;">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
<br>
<nav aria-label="Page navigation example" style="display: flex; justify-content: center;">
                <ul class="pagination">
                                        {% if page_obj.has_previous %}
                                        <li class="page-item">
                                        <a class="page-link" href="?page=1">&laquo; first</a>
                                        </li>
                                        {% endif %}
                                {% for page in page_obj.paginator.page_range %}
        {% if page %}
            {% ifequal page page_obj.number %}
            <li class="page-item active">
                        <a class="page-link" href="#">{{ page }}</a>
                      </li>
            {% else %}
            <li class="page-item">
                        <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                      </li>
            {% endifequal %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
                  
                                {% if page_obj.has_next %}
                        <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                        </li>
                                {% endif %}
                </ul>
              </nav>

{% endblock %}